<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<p>Mis familiares son: </p>

    
    {% for familia in familiares %}
        
        <p>Su nombre es: {{familia.nombre}} de apellido {{familia.apellido}} , su edad es: {{familia.edad}} , nacio el: {{familia.nacimiento}} , y tiene una experiencia de trabajo de: {{familia.experiencia}} </p>

    {% endfor %}
        


</body>
</html>